a {
  text-decoration: none;
  color: #071f45;
}

img {
  display: block;
  vertical-align: middle;
  border: 0;
  max-width: unset !important;
  height: auto;
}

.w-full {
  width: 100%;
}

.text-left {
  text-align: left;
}

.big-violet-500 {
  --tw-bg-capacity: 1;
  background-color: rgb(101 35 227 / var(--tw-bg-opacity));
}

.z-1 {
  z-index: 1;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.p-0 {
  padding: 0;
}

.list-none {
  list-style-type: none;
}

.m-0 {
  margin: 0;
}

menu,
ol,
ul {
  list-style: none;
}

.leading-none {
  line-height: 1;
}

.pl-2 {
  padding-left: 4px;
}

.inline-block {
  display: inline-block;
}

.gap-y-2 {
  row-gap: 40px;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid {
  display: grid;
}

.css-jax8d3 {
  margin: 0;
  line-height: 1.25em;
  color: #ffffff;
  font-size: 18px;
  font-family:
    Gibson SemiBold,
    Helvetica,
    Arial,
    Sans Serif;
}

.css-hzehox {
  margin: 0;
  font-family:
    Gibson SemiBold,
    Helvetica,
    Arial,
    Sans Serif;
  line-height: 1.5em;
  color: #d2d6d6;
  font-size: 15px;
}

@media (min-width: 780px) {
  .lg\:max-w-\[1250px\] {
    max-width: 1250px;
  }
  .lg\:w-\[88\.333\%\] {
    width: 88.333%;
  }
  .max-w-\[580px\] {
    max-width: 580px;
  }
  .lg\:pb-\[35px\] {
    padding-bottom: 35px;
  }
  .lg\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .lg\:justify-between {
    justify-content: space-between;
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:pt-0 {
    padding-top: 0;
  }
  .lg\:pb-4 {
    padding-bottom: 16px;
  }
  .lg\:px-5 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .md\:gap-x-2 {
    column-gap: 4px;
  }
}

@media (min-width: 450px) {
  .md\:items-center {
    align-items: center;
  }
}
