.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0px auto;
  margin-top: 8vh;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 230px;
  box-shadow:
    15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card2 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: 250px;
  height: 230px;
  box-shadow:
    15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card3 {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: 250px;
  height: 230px;
  box-shadow:
    15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.img {
  width: 100%;
  height: 50%;
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  justify-content: right;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.save {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 20px;
  display: flex;
  height: 96.5px !important;
  flex-direction: column;
}

.save .svg {
  transition: 0.2s ease-in-out;
  width: 15px;
  height: 15px;
}

.icon-box {
  margin-top: 15px;
  width: 70%;
  background-color: #e3fff9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon-box svg {
  width: 17px;
}

.text .h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: 600;
  margin: 1px;
  color: black;
}

.text .p {
  font-family: "Courier New", Courier, monospace;
  color: #999999;
  margin: 1px;
  font-size: 13px;
}

.icon-box .span {
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: 500;
  color: #9198e5;
}

.card1:hover,
.card2:hover,
.card3:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.save:hover {
  transform: scale(1.1) rotate(10deg);
}

.save:hover .svg {
  fill: #ced8de;
}

.icon-box svg {
  enable-background: new 0 0 512.001 512.001;
}

.svg2 {
  mask-type: luminance;
}

.color1 {
  fill: #3d6687;
}

.color2 {
  fill: #ccdfed;
}

.color3 {
  fill: #bad5e5;
}

.color4 {
  fill: #61aff6;
}

.color5 {
  fill: #399aea;
}

.color6 {
  fill: #ffffff;
}
