@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

/* Mandy's Cards Body  */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
} */

.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.card h4 {
  margin-top: 10px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  min-height: 250px;
}

.tag-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.tag {
  margin-right: 5px;
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  /* margin: 0; */
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 20px;
}

.user {
  display: flex;
  margin-top: auto;
}

.user a {
  margin-bottom: 15px;
}

.user svg {
  color: red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin-top: 10px;
  margin-right: 15px;
}

.user-info small {
  color: #545d7a;
}

.discount {
  display: flex;
  justify-content: center;
}
.discount span {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  color: #ff0000;
  font-weight: 700;
}
.icon-box {
  margin-top: 15px;
  width: 70%;
  background-color: #e3fff9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon-box svg {
  width: 17px;
}

.star {
  width: 20px; /* Control the size of the stars */
  height: auto;
  fill: #ffd700; /* Default color for stars (gold) */
}
.rating-overlay {
  position: absolute;
  top: 10px; /* Adjust as necessary */
  right: 10px;
  display: flex;
  align-items: center;
}

.text .h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: 600;
  margin: 1px;
  color: black;
}

.text .p {
  font-family: "Courier New", Courier, monospace;
  color: #999999;
  margin: 1px;
  font-size: 13px;
}

.icon-box .span {
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: 500;
  color: #9198e5;
}

.card1:hover,
.card2:hover,
.card3:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.save:hover {
  transform: scale(1.1) rotate(10deg);
}

.save:hover .svg {
  fill: #ced8de;
}

.icon-box svg {
  enable-background: new 0 0 512.001 512.001;
}

.svg2 {
  mask-type: luminance;
}

.color1 {
  fill: #3d6687;
}

.color2 {
  fill: #ccdfed;
}

.color3 {
  fill: #bad5e5;
}

.color4 {
  fill: #61aff6;
}

.color5 {
  fill: #399aea;
}

.color6 {
  fill: #ffffff;
}
